.titulo {


    width: 900px ;
    height: 100px;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    text-align: center;



}

#title {


    color: black;
    font-size: 24px;
    text-align: center;

}


body {

    display: flex;
    justify-content: center;
    flex-direction: column;



}

.game {

    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    width: 900px;
    height: 900px;
    margin: 1px;

}

.container {

    display: grid;

    grid-template-columns: auto auto auto;


}


.containers {

    border: 1px solid black;
    width: 299px;
    height: 299px;

}